.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.hero__img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 3px solid var(--color-light);
}

.hero__subtitle {
    color: var(--color-slate600);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title {
    color: var(--color-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: 0.3rem;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-small);
    color: var(--color-slate600);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-small);
}


/* extraSmall screen */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }


    .hero__img {

        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle {
        font-size: var(--size-large);
    }

    .hero__title {

        font-size: var(--size-5xl);

    }

    .hero__description {

        font-size: var(--size-base);

    }

    .hero__btn {

        font-size: var(--size-base);
    }
}


/* Small screen */
/* @media (min-width: 640px) {} */


/* medium screen */
/* @media (min-width: 768px) {} */

/* large screen */
@media (min-width: 1024px) {
    .hero__img {
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitle {
        font-size: var(--size-2xl);
    }

    .hero__title {

        font-size: var(--size-7xl);

    }

    .hero__description {

        font-size: var(--size-large);

    }

    .hero__btn {

        font-size: var(--size-large);
    }
}



/* extraLarge screen */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }
    
    .hero__img {
        width: 10rem;
        height: 10rem;
    }

    .hero__subtitle {
        font-size: var(--size-3xl);
    }

    .hero__title {

        font-size: var(--size-6xl);

    }

    .hero__description {

        font-size: var( --size-xl);

    }

    .hero__btn {

        font-size: var( --size-xl);
    }
}

/* 2extraLarge screen */
/* @media (min-width: 1536px) {} */